<div class="container">
  <div class="row">
    <ul class="thumbnails">
      <div class="col-md-3">
        <div class="thumbnail">
          <img class="car-picture-preview" src="http://placehold.it/320x200"
               alt="ALT NAME" class="img-responsive" width="320" height="200" />
          <%= form_for @car_picture, url: car_car_pictures_path(@car), html: {method: :POST, multipart: true },
                       class: "car-picture-upload-form" do |f| %>
            <div class="car-picture-info-container">
              <label>Picture type</label>
              <%= f.select :picture_type,
                          options_for_select(@car_picture_types), class: "selectpicker", data: { size: 5 } %>
            </div>
            <div class="car-picture-info-container">
              <label>Description</label>
              <%= f.text_area :description, class: "form-control", rows: 3 %>
            </div>
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "car-picture-file-field" %></span>
            <div class="car-picture-action-btn">
              <%= f.submit "Upload", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          <div class="car-picture-action-btn">
            <p align="center"><a href="http://bootsnipp.com/" class="btn btn-success btn-block">Add</a></p>
          </div>
        </div>
      </div>
      <div class="row col-md-9">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
          <img class="car-picture-preview" src="http://placehold.it/320x200"
               alt="ALT NAME" class="img-responsive" width="320" height="200" />
            <div class="caption">
              <h4>Thumbnail label</h4>
              <p>...</p>
              <p><a href="#" class="btn btn-danger btn-block" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
          <img class="car-picture-preview" src="http://placehold.it/320x200"
               alt="ALT NAME" class="img-responsive" width="320" height="200" />
            <div class="caption">
              <h4>Thumbnail label</h4>
              <p>...</p>
              <p><a href="#" class="btn btn-danger btn-block" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
          <img class="car-picture-preview" src="http://placehold.it/320x200"
               alt="ALT NAME" class="img-responsive" width="320" height="200" />
            <div class="caption">
              <h4>Thumbnail label</h4>
              <p>...</p>
              <p><a href="#" class="btn btn-danger btn-block" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
          <img class="car-picture-preview" src="http://placehold.it/320x200"
               alt="ALT NAME" class="img-responsive" width="320" height="200" />
            <div class="caption">
              <h4>Thumbnail label</h4>
              <p>...</p>
              <p><a href="#" class="btn btn-danger btn-block" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" />

