<header>
    <div class="col-xs-12 all-to-none" id="header_id">
        <a href="../">
            <div class="col-md-3 col-sm-3 col-xs-3 nav_title">
                <img class="hidden-xs" src="<%= asset_path 'homepage/Tripalink.png' %>" width="30px" height="30px" style="position:relative; top:-2px; left:-5px;" id="blue_logo"/>
                <img class="hidden-xs" src="<%= asset_path 'homepage/logo_0.png' %>" width="30px" height="30px" style="position:relative; top:-2px; left:-5px;display:none;" id="white_logo"/>
                Tripalink
            </div>
        </a>
        <div class="hidden-xs">
            <div class="col-md-3 col-sm-2 hidden-xs nav_title" style="font-size:20; font-weight:500">  
            </div>
            <div class="col-md-5 col-sm-5 col-xs-8 nav_item all-to-none">
                <a href="<%=new_sell_request_path%>">
                  <div class="col-xs-3">
                      <%=t :sell_car %>
                  </div>
                </a>
                <a href="<%=cars_path%>">
                  <div class="col-xs-3">
                      <%=t :buy_car %>
                  </div>
                </a>
                <div class="col-xs-3 signInBtn" align="center" style="padding-left:0;">
                    <% if not(expert_signed_in? or user_signed_in?)%>
                        <span id="signInButton" data-toggle="modal" data-target="#signInModal">
                            SIGNIN   	
                        </span>
                    <% else %>
                         <% if expert_signed_in? %>
                            <ul class="account_ul">
                                <a href="<%= expert_path current_expert %>">
                                    <div class="nav_expert_img" style="display:inline-block; background-image:url('<%= current_expert.avatar.url%>')">
                                    </div>
                                    <span class="signout" style="display:inline-block;">
                                        <%= current_expert.name %>
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                </a>
                                <ul class="account_ul_list">
                                    <a href="/users/1">
                                        <li>
                                            My Purchasing
                                        </li>
                                    </a>
                                    <a href="/users/1">
                                        <li>
                                            My Selling
                                        </li>
                                    </a>
                                    <a href="/users/1">
                                        <li>
                                            My Appointment
                                        </li>
                                    </a>
                                    <a href="/users/1">
                                        <li>
                                            Wish List
                                        </li>
                                    </a>
                                    <a href="/users/1">
                                        <li>
                                            My Profile
                                        </li>
                                    </a>
                                </ul>
                            </ul>
                         <% else %>
                            <ul class="account_ul">
                                <a href="<%= user_path current_user %>">
                                    <div class="nav_user_img" style="display:inline-block;">
                                    </div>
                                    <span class="signout" style="display:inline-block;">
                                        <%= current_user.name %>
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                </a>
                                <ul class="account_ul_list">
                                    <a href="<%= buy_transactions_user_path current_user %>">
                                        <li>
                                            My Purchasing
                                        </li>
                                    </a>
                                    <a href="<%= sell_transactions_user_path current_user %>">
                                        <li>
                                            My Selling
                                        </li>
                                    </a>
                                    <a href="<%= appointments_user_path current_user %>">
                                        <li>
                                            My Appointment
                                        </li>
                                    </a>

                                    <li style="cursor:not-allowed;">
                                        Wish List
                                    </li>

                                    <a href="<%= user_path current_user %>">
                                        <li>
                                            My Profile
                                        </li>
                                    </a>
                                </ul>
                            </ul>
                         <% end %>
                    <% end %>
                </div>
                <div class="col-xs-3 all-to-none" align="center">
                    <div class="all-to-none signUpBtn">
                      <% if expert_signed_in? %>
        <!-- 	            <li> <%= link_to 'Auto-Genius FAQ', '#' %> </li> -->
                      <% else %>
        <!--
                        <li> <%= link_to 'Home', root_path %> </li>
                        <li> <%= link_to 'Buy', cars_path %> </li>
                        <li> <%= link_to 'Sell', new_sell_request_path %> </li>
                        <li> <%= link_to 'FAQ', '#' %> </li>
        -->
                      <% end %>
                      <% if expert_signed_in? or user_signed_in? %>
                         <% if expert_signed_in? %>
                            <span class="signout"> 
                                <%= link_to 'SIGN OUT', destroy_expert_session_path, method: :delete %>
                            </span>
                         <% else %>
                            <span class="signout">
                                <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
                            </span>
                          <% end %>
                       <% else %>
                       <span id="signUpButton" data-toggle="modal" data-target="#signUpModal"> SIGN UP </span>
        <!-- 	            <li> <%= link_to 'Sign Up', new_user_registration_path %> </li> -->
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 hidden-md hidden-sm hidden-lg" align="right">
           <div class="navbar-header">
              <div class="toggle_menu_btn" data-toggle="collapse" 
                 data-target="#example-navbar-collapse">
                  <div class="menu-opener">
                        <div class="menu-opener-inner"></div>
                  </div>
              </div>
           </div>
           <div class="collapse navbar-collapse toggle_menu_list" id="example-navbar-collapse">
              <ul class="nav navbar-nav">
                <li>
                    <a href="<%=new_sell_request_path%>">
                        <%=t :sell_car %>
                    </a>
                </li>
                <li>
                    <a href="<%=cars_path%>">
                        <%=t :buy_car %>
                    </a>
                </li>
                <% if not(expert_signed_in? or user_signed_in?) %>
                    <li id="signInButton_mobile" data-toggle="modal" data-target="#signInModal">
                      <a href="#"> 
                          SIGNIN
                      </a>
                    </li>
                <% else %>
                    <% if expert_signed_in? %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <%= current_expert.name %>
                           <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <a href="/users/1">
                                <li>
                                    My Purchasing
                                </li>
                            </a>
                            <a href="/users/1">
                                <li>
                                    My Selling
                                </li>
                            </a>
                            <a href="/users/1">
                                <li>
                                    My Appointment
                                </li>
                            </a>
                            <a href="/users/1">
                                <li>
                                    Wish List
                                </li>
                            </a>
                            <a href="/users/1">
                                <li>
                                    My Profile
                                </li>
                            </a>
                        </ul>
                    </li>
                    <% else %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <%= current_user.name %>
                               <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu user_list_li">
                                <a href="<%= buy_transactions_user_path current_user %>">
                                    <li>
                                        My Purchasing
                                    </li>
                                </a>
                                <a href="<%= sell_transactions_user_path current_user %>">
                                    <li>
                                        My Selling
                                    </li>
                                </a>
                                <a href="<%= appointments_user_path current_user %>">
                                    <li>
                                        My Appointment
                                    </li>
                                </a>

                                <li style="cursor:not-allowed;">
                                    Wish List
                                </li>

                                <a href="<%= user_path current_user %>">
                                    <li>
                                        My Profile
                                    </li>
                                </a>
                            </ul>
                        </li>
                    <% end %>
                <% end %>
              </ul>
           </div>
        </div>
    </div>
</header>
<div class="modal fade" id="signInModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content signInBox" id="signInBox_in">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position:absolute;right:4px;">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">
                <div class='col-xs-12 signInBox_title'>
                    Sign In
                </div>
                <div class="col-xs-12 signInBox_email">
                    <div class="col-xs-4">
                        Email
                    </div>
                    <input type="text" placeholder="e.g. user@host.com" class="col-xs-8" id="loginEmail"/>
                </div>
                <div class="col-xs-12 signInBox_password">
                    <div class="col-xs-4">
                        Password
                    </div>
                    <input type="password" placeholder="password"class="col-xs-8" id="loginPassword"/>
                </div>
            </div>
            <div class="col-xs-12 sign_in_button_container">
                <div class="col-xs-12 sign_in_button" id="submit_signIn">
                    SIGN IN
                </div>
            </div>
            <div class="col-xs-12 account_switch" align="center">
                Don't have account? 
                <span data-toggle="modal" data-target="#signUpModal" id="signUp_in">
                    Sign Up
                </span>
            </div>
            <div class="col-xs-1">
            </div>							
        </div>
    </div>
</div>

<div class="modal fade" id="signUpModal">
    <form>
    <div class="modal-dialog" role="document">
        <div class="modal-content signInBox" id="signInBox_up">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position:absolute;right:4px;">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">
                <div class='col-xs-12 signInBox_title' style='height:190px;'>
                    Sign Up
                </div>
                <div class="col-xs-12 signInBox_email">
                    <div class="col-xs-4">
                        Email
                    </div>
                    <input type="text" placeholder="e.g. user@host.com" class="col-xs-8" id="signupEmail" name="user[email]"/>
                </div>
                <div class="col-xs-12 signInBox_email">
                    <div class="col-xs-4">
                        Full Name
                    </div>
                    <input type="text" placeholder="Firstname Lastname" class="col-xs-8" name="user[name]" id="signupName"/>
                </div>
                <div class="col-xs-12 signInBox_email">
                    <div class="col-xs-4">
                        Phone
                    </div>
                    <input type="tel" placeholder="Telephone" class="col-xs-8" id="signupPhone" name="user[phone]"/>
                </div>
                <div class="col-xs-12 signInBox_password">
                    <div class="col-xs-4">
                        Password
                    </div>
                    <input type="password" placeholder="Password"class="col-xs-8" id="signupPassword" name="user[password]"/>
                </div>
                <div class="col-xs-12 signInBox_password">
                    <div class="col-xs-4">
                        Confirm
                    </div>
                    <input type="password" placeholder="Confirm password"class="col-xs-8" id="signUpConfirm_Password" name="user[password_confirmation]"/>
                </div>
            </div>
            <div class="col-xs-12 sign_in_button_container">
                <div class="col-xs-12 sign_in_button" id="submit_signUp" type="submit">
                    SIGN UP
                </div>
            </div>
            <div class="col-xs-12 account_switch" align="center">
                Already have account?
                <span data-toggle="modal" data-target="#signInModal" id="signIn_up" type="submit">
                    Sign In
                </span>
            </div>
            <div class="col-xs-1">
            </div>							
        </div>
    </div>
    </form>
</div>

<script>
    $(".toggle_menu_btn").click(function(){
      $(".menu-opener, .menu-opener-inner, .menu").toggleClass("active");
    });
  $(function() {
      $(window).scroll(function(){
          var scrollTop = $(window).scrollTop();
          if(scrollTop != 0) {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)'); 
            $('#blue_logo').fadeOut(50,function(){
                $('#white_logo').fadeIn(50);
            }) 
          }
          else {
            $('header').css('background','rgba(242, 242, 242, 0)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','rgba(74,144,226,1)'); 
            $('.signUpBtn').css('background-color','rgba(74,144,226,1)');
            $('.signUpBtn, .signout a').css('color','white'); 
            $('#white_logo').fadeOut(50,function(){
                $('#blue_logo').fadeIn(50);
            }) 
          }
      });
  });
</script>



























